.social-media-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Anchor just wraps the styled span */
.icon-button {
  text-decoration: none;
}

/* You DON'T need to style i/svg here anymore */

/* Mobile */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
    justify-content: center;
  }
}
